astroid==1.5.3

colorama==0.3.9

coverage==4.4.1

dj-database-url==0.4.2

Django==1.11.4

django-environ==0.4.4

gunicorn==19.7.1

isort==4.2.15

wrapt==1.10.11

mock==2.0.0

coverage==4.4.1
request
requests
